nav {
    position: static;
    left: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #F6F4F4;
    background-color: #4A4545;

    .nav__filters {
        font-size: 15px;
        position: sticky;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .nav__title {
            font-size: 30px;
            margin-bottom: 20%;
        }

        select {
            cursor: pointer;
            margin: 3% 0;
        }
    
        input {
            width: 65%;
            margin: 7% 0;
            padding: 10px 0 10px 10px;
            border: 0;
            border-bottom: 2px solid #FF6F1A;
            border-radius: 7px;
            background: #4A4545;
            box-shadow: inset 10px 10px 20px #3c3838,
            inset -10px -10px 20px #585252;
            color: #F6F4F4;
            
            &:focus {
                background: linear-gradient(145deg, #4f4a4a, #433e3e);
                box-shadow:  10px 10px 20px #3c3838,
                            -10px -10px 20px #585252;
            }
        }

        .nav__reset_btn {
            cursor: pointer;
            width: 65%;
            padding: 10px 5px;
            margin: 7% 0;
            border: 0;
            border-radius: 7px;
            background: #FF6F1A;
            box-shadow:  10px 10px 20px #3c3838,
                        -10px -10px 20px #585252;
            color: #F6F4F4;

            &:active {
                box-shadow: inset 10px 10px 20px #cf5a15,
                            inset -10px -10px 20px #ff841f;
            }

            &:hover {
                background: linear-gradient(145deg, #e66417, #ff771c);
            }
        }

        .pagination {
            width: 16%;
        }
    }

    select {
        border: 0;
        border-radius: 5px;
        background-color: #F6F4F4;
        color: #b54a0c;
        margin: 10% 0;
        width: 70%;
        padding: 5px;
    }

    
}

@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        nav {
            width: 25%;
        }
}