main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #EDEDE7;

    .card {
        background-color: rgb(255, 255, 255);
        width: 30%;
        margin: 2% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 7px;
        line-height: 2em;
        box-shadow:  3px 3px 10px #c9c9c4,
             -3px -3px 10px #ffffff;

    
        h2 {
            margin: 1em;
        }

        img {
            max-width: 70%;
            margin: 2%;
        }

        h3 {
            margin-top: 0.5em;
            font-size: 35px;
            color: #FF6F1A;
        }
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 800px) {
      main {
          flex-direction: column;
          justify-content: center;
          width: 100%;

          .card {
              margin-top: 4%;
              width: 95%;
          }
      }
}

@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {
        main {
            .card {
                width: 45%;
            }
        }
}